EMD-signal
matplotlib
multiprocess
numpy
pandas
psutil
py
Pygments
pyinstrument
pyinstrument-cext
pytest
scikit-learn
scikit-multiflow
scipy
seaborn
shap
sklearn
statsmodels
tqdm
git+git://github.com/raphaelvallat/entropy.git#egg=entropy
coverage
pytest-cov
pympler
runstats
ipython
PyYaml